.zm-district-select-current-list {
  display: flex;
}

.zm-district-select-current {
  line-height: 44px;
  margin-right: 32px;
  min-width: 3em;
  text-align: center;
}

.zm-district-select-current.selected {
  border-bottom: 2px solid $theme-color;
}

.zm-district-select-list {
  flex: 1;
  overflow: hidden;
  padding: 10px 16px 0 16px;
  display: flex;
  align-items: stretch;
}

.zm-district-select-list-column {
  min-width: 3em;
  margin-right: 32px;
  padding-bottom: 10px;
  overflow: auto;
}

.zm-district-select-item {
  line-height: 34px;
  color: $color-text-medium;
}

.zm-district-select-item.selected {
  color: $theme-color;
}

/* iphone 4/4s/5/5s */
@media screen and (max-device-width: 320px) {
  .zm-district-select-current, .zm-district-select-list-column {
    margin-right: 24px;
  }
}
