.zm-district-select-current-list {
  display: flex;
}

.zm-district-select-current-wrap {
  margin-right: 32px;
  min-width: 3em;
  max-width: 4em;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.zm-district-select-current-list > .zm-district-select-current-wrap:first-child {
  max-width: 3em;
}

.zm-district-select-current {
  line-height: 43px;
  white-space: nowrap;
}

.zm-district-select-current.selected {
  border-bottom: 2px solid $theme-color;
}

.zm-district-select-list {
  flex: auto;
  overflow: hidden;
  padding: 10px 16px 0 16px;
  display: flex;
  align-items: stretch;
}

.zm-district-select-list-column {
  min-width: 3em;
  max-width: 4em;
  margin-right: 32px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.zm-district-select-list > .zm-district-select-list-column:first-child {
  max-width: 3em;
}

.zm-district-select-item {
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  color: $color-text-medium;
}

.zm-district-select-item.selected {
  color: $theme-color;
}

/* iphone 4/4s/5/5s */
@media screen and (max-device-width: 320px) {
  .zm-district-select-current, .zm-district-select-list-column {
    margin-right: 24px;
  }
}
