.zm-number-keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: $keyboard-z-index;
}

.zm-keyboard-table {
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 28px;
  border-collapse: collapse;
}

.zm-keyboard-table td {
  width: 25%;
  height: 55px;
  border: 1px solid #eee;
  text-align: center;
  vertical-align: middle;
}

.zm-keyboard-table td:not(.zm-keyboard-ok):active {
  background-color: #eeeeee;
}

.zm-keyboard-delete {
  background: url('#{$assetsPath}/icon-delete-keybroad.png') no-repeat center;
  background-size: 33px 24px;
}

.zm-keyboard-ok {
  background-color: $theme-color;
  font-size: 16px;
  color: #fff;
}

.zm-keyboard-ok:active {
  background-color: darken($theme-color, 10%);
}

.zm-keyboard-cancel {
  background: url('#{$assetsPath}/icon-keybroad.png') no-repeat center;
  background-size: 36px 32px;
}