.zm-single-select-main {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  //max-height: 64%;      /* 按内容自适应高度，最高不超过 16/(16+9), 即黑白比例为16:9 */
  max-height: 377px;      /* 9.5行选项高度(9.5*34) + 上padding (10px) + header(44px) */
  background-color: #fff;
  z-index: $select-z-index;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
}

/* iphone 4/4s/5/5s */
@media screen and (max-device-width: 320px) {
  .zm-single-select-main {
    font-size: 16px;
  }
}

/* iPhone 4/4s */
@media screen and (max-device-height: 480px) {
  .zm-single-select-main {
    max-height: 309px;    /* 7.5行选项高度 + 上padding + header */
  }
}

.zm-single-select-header {
  flex-shrink: 0;
  height: 44px;
  padding-left: 16px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.zm-single-select-current {
  border-bottom: 2px solid $theme-color;
  line-height: 44px;
}

.zm-single-select-ok {
  flex-shrink: 0;
  padding: 0 16px;
  border: none;
  outline: none;
  color: $theme-color;
  background-color: #fff;
  font-size: inherit;
}

.zm-single-select-ok:disabled {
  color: $color-text-slave;
}

.zm-single-select-list {
  flex: auto;
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

.zm-single-select-item {
  padding-left: 16px;
  line-height: 34px;
  color: $color-text-medium;
}

.zm-single-select-item.selected {
  color: $theme-color;
}
