.zm-single-select-main {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 64%;      /* 按内容自适应高度，最高不超过 16/(16+9), 即黑白比例为16:9 */
  background-color: #fff;
  z-index: $select-z-index;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
}

@media screen and (max-device-width: 320px) {
  .zm-single-select-main {
    font-size: 16px;
  }
}

.zm-single-select-header {
  flex-shrink: 0;
  height: 44px;
  padding-left: 16px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.zm-single-select-current {
  border-bottom: 2px solid $theme-color;
  line-height: 44px;
}

.zm-single-select-ok {
  flex-shrink: 0;
  padding: 0 16px;
  border: none;
  outline: none;
  color: $theme-color;
  background-color: #fff;
  font-size: inherit;
}

.zm-single-select-ok:disabled {
  color: $color-text-slave;
}

.zm-single-select-list {
  flex: 1;
  overflow: auto;
  padding: 10px 0;
}

.zm-single-select-item {
  padding-left: 16px;
  line-height: 34px;
  color: $color-text-medium;
}

.zm-single-select-item.selected {
  color: $theme-color;
}
