.zm-toast {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  z-index: $toast-z-index;
}

.zm-toast.with-icon {
  height: 100px;
}

.zm-toast-wrap {
  background-color: rgba(#333, 0.8);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zm-toast-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 13px;
  background: url('#{$assetsPath}/icon-toast.png') no-repeat center;
  background-size: contain;
}

.zm-toast-text {
  color: #fff;
  padding: 0 15px;
  font-size: 14px;
}
