@import "defaults";

/* 遮罩 */
.zm-shadow-enter-active, .zm-shadow-leave-active {
  transition: opacity $transitionDuration;
}
.zm-shadow-enter, .zm-shadow-leave-to {
  opacity: 0;
}

/* 从右侧进入 */
.zm-enter-from-right-enter-active, .zm-enter-from-right-leave-active {
  transition: transform $transitionDuration;
}
.zm-enter-from-right-enter, .zm-enter-from-right-leave-active {
  transform: translate3d(100%, 0, 0);
}

/* 从底部进入 */
.zm-enter-from-bottom-enter-active, .zm-enter-from-bottom-leave-active {
  transition: transform $transitionDuration;
}
.zm-enter-from-bottom-enter, .zm-enter-from-bottom-leave-active {
  transform: translate3d(0, 100%, 0);
}

/* Toast */
.zm-toast-enter-active, .zm-toast-leave-active {
  transition: opacity .5s;
}
.zm-toast-enter, .zm-toast-leave-active {
  opacity: 0;
}

/* Loading */
.zm-loading-enter-active, .zm-loading-leave-active {
  transition: opacity .2s;
}
.zm-loading-enter, .zm-loading-leave-active {
  opacity: 0;
}

.zm-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $shadow-z-index;
  transform: translate3d(0, 0, 0);
}

/* Fallback: 遮罩zm-shadow在 Android 4.x 系统浏览器下无法显示（疑难问题），增加 opacity:1让其出现并去除动画效果 */
.no-transition {
  opacity: 1 !important;
}

/* Modal */
.zm-modal-enter-active, .zm-modal-leave-active {
  transition: opacity $transitionDuration;
}
.zm-modal-enter, .zm-modal-leave-active {
  opacity: 0
}