@import "../../common/defaults";

.zm-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-green;
  height: $header-height;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zm-header-back {
  position: absolute;
  display: block;
  width: $header-height;
  height: $header-height;
  left: 0;
  top: 0;
  background: url('../../assets/icon-zg-header-back.png') no-repeat center;
  background-size: 11px 19px;
}