/* Colors */
$color-white: #fff;
$color-green: #33c298;
$color-green-6: #63c47d;
$color-text-primary: #333;
$color-text-medium: #666;
$color-text-slave: #999;

/* Sizes */
$header-height: 45px;

/* Cascades */
$shadow-z-index: 40;
$select-z-index: 41;
$keyboard-z-index: 41;
$toast-z-index: 45;
$loading-z-index: 46;

/* Transitions */
$transitionDuration: 0.3s;