/* Colors */
$color-white: #fff;
$color-green: #33c298;
$color-text-primary: #333;
$color-text-medium: #666;
$color-text-slave: #999;

/* Sizes */
$header-height: 45px;

/* Cascades */
$toast-z-index: 45;